# Atividade 1 - Manipulação de Dados - MySQL.

## Lapisco Trainee - Viviane Pinto de Souza.

### Para resolver os exercícios, utilize a descrição do modelo relacional abaixo e os comandos SQL aprendidos. Se houver a necessidade de utilizar mais de uma tabela em uma consulta, utilize o INNER JOIN, em vez do produto cartesiano.

1) Insira 3 registros para cada tabela criada.

In [1]:
cd mysql-connector-python/lib

/home/vivi/Documents/ESTUDOS/LAPISCO_GERAL/Revision MySQL-Pandas/pandas-mysql-practices/mysql-connector-python/lib

In [2]:
import mysql.connector
from datetime import date
import asyncio
import random
from time import sleep

In [3]:
# INSERT

con = mysql.connector.connect(
    user='root', password='superuser',
    host='localhost',
    database='locadora')

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)